# Import libraries

In [1]:
import pandas as pd

In [4]:
spotify = pd.read_csv("spotify.csv")
spotify.head()

,Title,Artist,Year,Genre,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,Sunrise,Norah Jones,2004,Pop,157,30,53,-14,11,68,201,94,3,71
1,Black Night,Deep Purple,2000,Rock,135,79,50,-11,17,81,207,17,7,39
2,Clint Eastwood,Gorillaz,2001,Hip Hop,168,69,66,-9,7,52,341,2,17,69
3,The Pretender,Foo Fighters,2007,Metal,173,96,43,-4,3,37,269,0,4,76
4,Waitin' On A Sunny Day,Bruce Springsteen,2002,Rock,106,82,58,-5,10,87,256,1,3,59

### We split spotify DataFrame into multiple related tables, each representing an entity or concept.

**Entities**:

- **Songs**: Core entity with song-related attributes.
- **Artists**: Details about the artist.
- **Genres**: Information about the music genres.

### Create artists and genres DataFrames with unique IDs.

In [5]:
# Create the artists table
artists = spotify[['Artist']].drop_duplicates().reset_index(drop=True)
artists['artist_id'] = artists.index + 1

In [6]:
# Create the genres table
genres = spotify[['Genre']].drop_duplicates().reset_index(drop=True)
genres['genre_id'] = genres.index + 1

### Map artist_id and genre_id to the main DataFrame.

In [7]:
spotify = spotify.merge(artists, on='Artist', how='left')

spotify = spotify.merge(genres, on='Genre', how='left')

In [9]:
spotify.head()

,Title,Artist,Year,Genre,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity,artist_id,genre_id
0,Sunrise,Norah Jones,2004,Pop,157,30,53,-14,11,68,201,94,3,71,1,1
1,Black Night,Deep Purple,2000,Rock,135,79,50,-11,17,81,207,17,7,39,2,2
2,Clint Eastwood,Gorillaz,2001,Hip Hop,168,69,66,-9,7,52,341,2,17,69,3,3
3,The Pretender,Foo Fighters,2007,Metal,173,96,43,-4,3,37,269,0,4,76,4,4
4,Waitin' On A Sunny Day,Bruce Springsteen,2002,Rock,106,82,58,-5,10,87,256,1,3,59,5,2

### Create the songs DataFrame

In [11]:
songs = spotify.rename(columns={
    "Title": "title",
    "Year": "year",
    "Beats Per Minute (BPM)": "bpm",
    "Energy": "energy",
    "Danceability": "danceability",
    "Loudness (dB)": "loudness_db",
    "Liveness": "liveness",
    "Valence": "valence",
    "Length (Duration)": "length",
    "Acousticness": "acousticness",
    "Speechiness": "speechiness",
    "Popularity": "popularity"
})[[
    "title", "artist_id", "genre_id", "year", "bpm", "energy", 
    "danceability", "loudness_db", "liveness", "valence", 
    "length", "acousticness", "speechiness", "popularity"
]]

# Add a unique song_id
songs = songs.reset_index(drop=True)
songs['song_id'] = songs.index + 1

In [12]:
artists.head()

              Artist  artist_id
0        Norah Jones          1
1        Deep Purple          2
2           Gorillaz          3
3       Foo Fighters          4
4  Bruce Springsteen          5

In [13]:
genres.head()

     Genre  genre_id
0      Pop         1
1     Rock         2
2  Hip Hop         3
3    Metal         4
4    Other         5

In [14]:
songs.head()

,title,artist_id,genre_id,year,bpm,energy,danceability,loudness_db,liveness,valence,length,acousticness,speechiness,popularity,song_id
0,Sunrise,1,1,2004,157,30,53,-14,11,68,201,94,3,71,1
1,Black Night,2,2,2000,135,79,50,-11,17,81,207,17,7,39,2
2,Clint Eastwood,3,3,2001,168,69,66,-9,7,52,341,2,17,69,3
3,The Pretender,4,4,2007,173,96,43,-4,3,37,269,0,4,76,4
4,Waitin' On A Sunny Day,5,2,2002,106,82,58,-5,10,87,256,1,3,59,5

### Save or Export the DataFrames for SQL

In [15]:
artists.to_csv("artists.csv", index=False)
genres.to_csv("genres.csv", index=False)
songs.to_csv("songs.csv", index=False)